.page_container {
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}
.defaultheader_1 {
  width: 100%;
}
.content_box_0 {
  width: 100%;
  background-color: rgb(238, 238, 238);
  min-height: auto;
  flex: 1;
}
.form_1 {
  max-width: 600px;
  height: auto;
  margin: 48px auto 48px auto;
  padding: 26px 26px 42px 26px;
}
.form_1_name {
  color: rgb(40, 40, 40);
  font-size: 32px;
  font-weight: bold;
  margin: 0px 0px 40px 0px;
}
.input_1_container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 0px 24px 0px;
}
.input_1_inner {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  margin: 10px 0px 10px 0px;
}
.input_1_label {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: inline;
  margin: 0px 10px 0px 0px;
}
.input_1_required {
  color: rgb(255, 0, 0);
  font-weight: bold;
  display: inline;
}
.input_1 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.input_1_error_message_container {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  margin: 10px 0px 0px 0px;
}
.form_1_button {
  width: 100%;
  margin: 40px 0px 0px 0px;
}
