.custom_component_container {
  width: 100%;
}
.text_1 {
  word-break: break-word;
  color: 233;
  font-size: 20px;
  font-weight: 500;
}
.text_2 {
  word-break: break-word;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
}
.container {
  width: 100%;
  background-color: rgb(221, 221, 221);
  min-height: 300px;
  flex-direction: row;
  display: flex;
}
.left_panel {
  width: 100%;
  background-color: rgb(221, 221, 221);
  min-height: 300px;
}
