.page_container {
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  align-items: center;
  position: relative;
  width: 1440px;
  justify-content: flex-start;
  height: 800px;
  display: flex;
}
.container_6 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 1440px;
  gap: 40;
  justify-content: flex-start;
  height: 800px;
  display: flex;
  padding: 140px 0px 140px 0px;
}
.background_2 {
  flex: none;
  flex-grow: 0;
  position: absolute;
  width: 1440px;
  top: 0;
  left: 0;
  height: 800px;
}
.wrapper_6 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 500px;
  gap: 24;
  justify-content: flex-start;
  height: 460px;
  display: flex;
}
.header_wrapper_6 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 500px;
  gap: 24;
  justify-content: flex-start;
  height: 32px;
  display: flex;
}
.text_5 {
  font-size: 32px;
  flex: none;
  flex-grow: 1;
  color: rgb(15, 15, 15);
  line-height: 100%;
  font-family: Merriweather;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 900;
}
.text_6 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(232, 108, 55);
  line-height: 150%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
}
.note_item_6 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  border-radius: 8px;
  position: relative;
  height: 64px;
  align-items: center;
  width: 500px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 20px 0px 20px 0px;
}
