.page_container {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  flex-direction: row;
  flex-grow: 0;
  border-radius: 4px;
  position: relative;
  gap: 4;
  align-self: stretch;
  height: 56px;
  align-items: center;
  width: 460px;
  background-color: rgb(13, 13, 13);
  flex: none;
  justify-content: center;
  display: flex;
  padding: 12px 20px 12px 20px;
}
.box_1 {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 100%;
  display: flex;
}
.text_14 {
  font-size: 16px;
  flex: none;
  flex-grow: 1;
  color: rgb(255, 255, 255);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
}
